/* Supplier/Map */
.chart-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.chart-chart {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.el-collapse-map {
    padding-left: 20px;
}
.otherConditions {
    width: 60%;
    height: 50%;
    background-color: blueviolet;
}
/* Statistic/Statistic */
.timeBlock {
    /* display: flex; */
    /* padding: 5px; */
    text-align: center;
}
.subTimeBlock {
    /* padding-top: 8px; */
    padding-left: 10px;
    text-align: center;
    border-right: 1px solid #eff2f6;
    flex: 1;
    float: left;
}

.width {
    width: 95%;
}